<ngb-alert [type]="'warning'" [dismissible]="false">
  Your public url is <a [routerLink]="['/note', noteId]"><strong>http://localhost:4200/note/{{noteId}}</strong></a>. Bookmark
  it or <a [routerLink]="['/makePrivate']"><strong>make Private.</strong></a>
</ngb-alert>
<div class="separator separator-md"></div>
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let entry of noteDetails.entries">
    <button type="button" class="close" aria-label="Close" (click)="delete(entry)">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{entry.name}} <span [innerHTML]="entry.entryType | noteUnit"></span></h5>
      <small class="text-right">{{entry.takenDate | date:'shortTime'}}<br/>
      {{entry.takenDate | date:'shortDate'}}</small>
    </div>
    <p class="mb-1">{{entry.description}}</p>
  </div>
</div>