/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.separator {
    height: 5px;
    content: '';
}

.timestamp {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}

.list-group-item {
    padding: .75rem;
    border: none;
}

.list-group-item h5 {
    font-weight: 700;
}

.list-group-item .entry-sub-heading {
    padding-left: 10px;
    border-left: solid #e6e6e6;
}

.main-body {
    margin-top: 60px;
}