/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

footer {
    margin-top: 50px;
    font-size: xx-small;
}

.separator {
    height: 5px;
    content: '';
}

.timestamp {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}

.list-group-item {
    padding: .75rem;
    border: none;
}

.list-group-item h5 {
    font-weight: 700;
}

.list-group-item .entry-sub-heading {
    padding-left: 10px;
    border-left: solid #e6e6e6;
}

.main-body {
    margin-top: 60px;
}

/* form  css */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

/* form  css ends */