<form>
  <div class="form-group">
    <label for="temperature-degrees">How hot is your child?</label>
    <input type="number" class="form-control" id="temperature-degrees" placeholder="Enter degrees">
    <small id="temperature-help" class="form-text text-muted">Your child has a fever if he/she has a rectal, ear or temporalatery temperature of 100.4F/38C or higher. Or an oral temperature of 100F/37.8C or higher.</small>
  </div>

  <fieldset class="form-group">
    <legend>Measured by</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="measuredByOptions" value="rectal" checked>
        Rectal
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="measuredByOptions" value="ear" checked>
        Ear
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="measuredByOptions" value="temporalatery" checked>
        Temporalatery
      </label>
    </div>
  </fieldset>
</form>